<a href="https://colab.research.google.com/github/Danis2019/TestTaskDLS/blob/main/TestTaskDLS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Тестовое задание: симулировать динамическое начисление скидки покупателям магазина согласно условиям:
** 1.диапазон скидки от 0% до b_max%; размер выбирается случным образом, но при условии, что
** 2.общая средневзвешенная скидка по текущей и всем предидущим покупкам на 25% меньше чем b_max/3
* опционно: генерировать случайный размер входящих покупок не по равномерному распределению, а по распределению Пуассона с параметром mu=1.8

In [88]:
import pandas as pd
from scipy.stats import poisson
from random import randint
import numpy as np

In [89]:
def puasson():
  return poisson.rvs(mu=1.8, size=10)

In [90]:
b_max = randint(10, 50)
print(f"b_max = {b_max}")

b_max = 21

In [91]:
# Список покупателей и их персональных скидок
df = pd.DataFrame({ 'Цена': puasson() * 10 + 10 ,
                    'Скидка': puasson()})
# Необходимо обработать значение скидки = 0, чтобы не было деления на 0
df['Вес скидки'] = np.where(df['Скидка'] !=0, df['Цена'] * df['Скидка'] /  100 , 0)
df

   Цена  Скидка  Вес скидки
0    20       2         0.4
1    40       3         1.2
2    20       3         0.6
3    60       5         3.0
4    40       0         0.0
5    20       2         0.4
6    20       0         0.0
7    40       4         1.6
8    10       1         0.1
9    30       2         0.6

In [99]:
def create_disount(df, disounts, weights, product_price):
  d = df[disounts]
  w = df[weights]
  # Если принять максимальный коэффициент за X, то получиться квадратное уравнение с коэффициентами, представленными на следующей строчке
  coeff = (product_price/100, product_price/100 * b_max / 4, (d * w).sum() - b_max / 4 * w.sum() )
  # Выведение этого квадратного уравнения можно найти на Github, либо я вышлю Дине
  person_disount = np.roots(coeff)
  print(f"Максимально доступная скидка:{max(person_disount)}")
  return randint(0, int(max(person_disount)))

Проверим на товаре за 20 и товаре за 100, как видно, чем дороже товар, тем меньше максимальная скидка

In [100]:
discount = create_disount(df, 'Скидка', 'Вес скидки', 20)
print(f"Ваша скидка:{discount}")

Максимально доступная скидка:5.4846007916542945
Ваша скидка:1

In [101]:
discount = create_disount(df, 'Скидка', 'Вес скидки', 20)
print(f"Ваша скидка:{discount}")

Максимально доступная скидка:5.4846007916542945
Ваша скидка:4

In [102]:
discount = create_disount(df, 'Скидка', 'Вес скидки', 100)
print(f"Ваша скидка:{discount}")

Максимально доступная скидка:1.695373247764595
Ваша скидка:1