<a href="https://colab.research.google.com/github/Danis2019/TestTaskDLS/blob/main/TestTaskDLS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Тестовое задание: симулировать динамическое начисление скидки покупателям магазина согласно условиям:
** 1.диапазон скидки от 0% до b_max%; размер выбирается случным образом, но при условии, что
** 2.общая средневзвешенная скидка по текущей и всем предидущим покупкам на 25% меньше чем b_max/3
* опционно: генерировать случайный размер входящих покупок не по равномерному распределению, а по распределению Пуассона с параметром mu=1.8

* 14.06 Генерировать скидку по сиду, завязанному на 2-х датах

In [75]:
import pandas as pd
from scipy.stats import poisson
from random import randint
import numpy as np
import random
from datetime import date

In [76]:
def puasson():
  return poisson.rvs(mu=1.8, size=10)

In [77]:
b_max = randint(10, 50)
print(f"b_max = {b_max}")

b_max = 24

In [78]:
print('список цен/покупок:')
prices_array = puasson() * 10 + 10
prices_array

список цен/покупок:

array([20, 40, 20, 20, 30, 40, 20, 30, 30, 40])

In [79]:
# Вес это цена
def create_disсount_v2(df, disounts, weights, product_price, date_begin, date_end):
  if len(df) != 0:
    d = df[disounts]
    w = df[weights]
    # Если принять максимальную скидку за X, то можно вывести формулу для максимального значения скидки
    person_disount =  (b_max / 4 * (w.sum() + product_price) - (d * w).sum()) / price
    random.seed(int(date_begin.strftime("%j") + date_end.strftime("%j")))
    return random.uniform(0, person_disount), person_disount
  else:
    person_disount = random.uniform(0, b_max / 4)
    return person_disount, b_max / 4

* Для случаев, где вес это цена

In [101]:
df = pd.DataFrame(columns=['Цена', 'Скидка', 'Вес скидки', 'Максимально доступная скидка'])
date_begin = date(2023, 10, 4)
date_end = date(2023, 11, 4)
for price in prices_array:
  discount, max_discount = create_disсount_v2(df, 'Скидка', 'Цена', price, date_begin, date_end)
  weight = price
  df = pd.concat([pd.DataFrame([[price, discount, weight, max_discount]], columns=df.columns), df], ignore_index=True)
df

  Цена    Скидка Вес скидки  Максимально доступная скидка
0   40  4.024083         40                     21.677753
1   30  4.764908         30                     25.668578
2   30  4.483373         30                     24.151951
3   20  6.206497         20                     33.434423
4   40  3.126783         40                     16.843995
5   30  3.295794         30                     17.754454
6   20  4.019071         20                     21.650751
7   20  3.567526         20                     19.218277
8   40  1.506527         40                      8.115665
9   20  1.768670         20                      6.000000

* Как функция

In [ ]:
def add_discount_to_df(df, price, date_begin, date_end):
  discount, max_discount = create_disсount_v2(df, 'Скидка', 'Цена', price, date_begin, date_end)
  weight = price
  df = pd.concat([pd.DataFrame([[price, discount, weight, max_discount]], columns=df.columns), df], ignore_index=True)